PURPOSE OF CODE

Cleaning meaningless words and punctuations to prepare data to further train and test datasets seperation. Since test data should also be cleaned before scoring, this process shifted to the beginning and done over whole data before test and train devision.

PROCESS NOTES

WILL BE DONE
 - ..\AppData\Roaming\nltk_data\corpora\stopwords\english_redesigned document could be checked for stopwords

DONE
- all phrases are lowered
- stemmed using nltk PorterStemmer
- punctuations are erased
- stop words (nltk library pre created stop words list is redesigned to use) are erased
- dublicate phrases with different sentiment scores are averaged
- saved as clean-data.csv

Get data "../data/data.csv"

In [1]:
from IPython.core.debugger import Tracer; debug = Tracer()
import numpy as np
import pandas as pd
df=pd.read_csv('data/data.csv',sep="\t")
df[89:93]

    PhraseId  SentenceId       Phrase  Sentiment
89        90           3       Ismail          2
90        91           3  Merchant 's          2
91        92           3     Merchant          2
92        93           3           's          2

Replace capitals to non-capitals.

In [2]:
df.Phrase=df.Phrase.str.lower()
df[89:93]

    PhraseId  SentenceId       Phrase  Sentiment
89        90           3       ismail          2
90        91           3  merchant 's          2
91        92           3     merchant          2
92        93           3           's          2

There are no 'isn't', 'arent', 'havent' or such words in data, they all have already changed to their not seperated forms like "is not" . For example check for 'isn't'.

In [3]:
haha=0
for x in df.Phrase.str.contains(" isn't"):
    if x:
        haha+=1
haha

0

Stem the data using nltk PorterStemmer which changes the words like "pythoner", "pythoning" etc. to the "python".

In [4]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

def stemming(x):
    proper_words=[]
    words=x.split()
    for word in words:
        proper_words.append(ps.stem(word))
    return " ".join(proper_words)

df.Phrase=df.Phrase.map(stemming)

Remove punctuations.

In [5]:
df.Phrase = df.Phrase.str.replace('[^\w\s]','')
df[89:93]

    PhraseId  SentenceId      Phrase  Sentiment
89        90           3      ismail          2
90        91           3  merchant s          2
91        92           3    merchant          2
92        93           3           s          2

nltk's english stopwords list at location "..\AppData\Roaming\nltk_data\corpora\stopwords" includes words like "no", "not". They changes the meaning in sentiment analysis since if "no" is erased from data "not good" and "good" scored as same. So such stopwords are removed from pre-created list of nltk library.

The words erased from list are
"not, no, very, too, up, down, in, out, over, under, few"

Check again if miss.

In [6]:
#import redesigned stopword list named as "english_redesigned" from nltk
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english_redesigned'))

#define a map to delete stopwords under each phrase
def stop_erase(x):
    proper_words = []
    words = x.split()
    for word in words:
        if not word in stopwords_set:
           proper_words.append(word)
        
    return " ".join(proper_words)

df.Phrase=df.Phrase.map(stop_erase)
df[89:93]

    PhraseId  SentenceId    Phrase  Sentiment
89        90           3    ismail          2
90        91           3  merchant          2
91        92           3  merchant          2
92        93           3                    2

In [7]:
df.to_csv("data/data-clean.csv", sep='\t')
df.describe()

            PhraseId     SentenceId      Sentiment
count  156060.000000  156060.000000  156060.000000
mean    78030.500000    4079.732744       2.063578
std     45050.785842    2502.764394       0.893832
min         1.000000       1.000000       0.000000
25%     39015.750000    1861.750000       2.000000
50%     78030.500000    4017.000000       2.000000
75%    117045.250000    6244.000000       3.000000
max    156060.000000    8544.000000       4.000000

In [8]:
print("done succesfully")

done succesfully