PURPOSE OF CODE

Data is devided randomly into 5 equal group to use %80 of data for train and %20 for validation.

PROCESS NOTES

WILL BE DONE

DONE
- data is randomized as rows
- devided into 5 group with equal number of rows
- saved as 1df.csv, 2df.csv ..

Load is at locatin ../data/data-clean.csv

In [13]:
import numpy as np
import pandas as pd
df=pd.read_csv('data/data-clean.csv',sep="\t")
df.head()

,Unnamed: 0,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,seri escapad demonstr adag good goos also good...,1
1,1,2,1,seri escapad demonstr adag good goos,2
2,2,3,1,seri,2
3,3,4,1,NaN,2
4,4,5,1,seri,2

Remove column "Unnamed: 0"

In [14]:
df = df.drop('Unnamed: 0', 1)
df[71:77]

    PhraseId  SentenceId      Phrase  Sentiment
71        72           2  introspect          3
72        73           2  introspect          2
73        74           2         NaN          2
74        75           2   entertain          4
75        76           2    independ          2
76        77           2  worth seek          3

Radomize rows in df.

In [15]:
df=df.sample(frac=1).reset_index(drop=True)
df.tail()

,PhraseId,SentenceId,Phrase,Sentiment
156055,98125,5141,airless prepackag julia robert wannab stink ba...,0
156056,16991,738,screenplay,2
156057,101807,5359,doe nt contain half excit balto quarter fun to...,1
156058,116305,6200,succeed cheapen,0
156059,45997,2237,chicken heart,2

Devide df into 5 equal number of rows group as df1,df2..,df5 for further cross validation and reindex them all.

In [16]:
tmp=len(df)
a=int(tmp/5)
b=int(2*tmp/5)
c=int(3*tmp/5)
d=int(4*tmp/5)

In [17]:
df1=df[0:a]
df2=df[a:b].reset_index(drop=True)
df3=df[b:c].reset_index(drop=True)
df4=df[c:d].reset_index(drop=True)
df5=df[d:].reset_index(drop=True)

Randomizing preserves the characteristics of whole data (see followings).

In [18]:
df1.describe()

            PhraseId    SentenceId     Sentiment
count   31212.000000  31212.000000  31212.000000
mean    78350.508394   4097.738722      2.062380
std     45085.119445   2504.600345      0.891965
min         1.000000      1.000000      0.000000
25%     39341.250000   1878.000000      2.000000
50%     78714.500000   4050.000000      2.000000
75%    117461.000000   6268.000000      3.000000
max    156058.000000   8544.000000      4.000000

In [19]:
df2.describe()

            PhraseId    SentenceId     Sentiment
count   31212.000000  31212.000000  31212.000000
mean    77965.850923   4076.007465      2.063533
std     45049.038630   2503.098630      0.889762
min         9.000000      1.000000      0.000000
25%     39068.750000   1865.000000      2.000000
50%     77656.500000   3993.000000      2.000000
75%    116933.250000   6238.250000      3.000000
max    156054.000000   8544.000000      4.000000

In [20]:
df3.describe()

            PhraseId    SentenceId     Sentiment
count   31212.000000  31212.000000  31212.000000
mean    78024.987761   4079.058375      2.063693
std     44930.923910   2496.023136      0.896120
min         2.000000      1.000000      0.000000
25%     39203.750000   1871.000000      2.000000
50%     78208.500000   4024.000000      2.000000
75%    116900.500000   6237.000000      3.000000
max    156053.000000   8544.000000      4.000000

In [21]:
df4.describe()

            PhraseId    SentenceId     Sentiment
count   31212.000000  31212.000000  31212.000000
mean    77792.085352   4066.938101      2.061483
std     45212.085877   2511.580973      0.896613
min         5.000000      1.000000      0.000000
25%     38340.000000   1825.000000      2.000000
50%     77590.500000   3991.000000      2.000000
75%    117149.500000   6250.250000      3.000000
max    156059.000000   8544.000000      4.000000

In [22]:
df5.describe()

            PhraseId    SentenceId     Sentiment
count   31212.000000  31212.000000  31212.000000
mean    78019.067570   4078.921056      2.066801
std     44977.311309   2498.549936      0.894730
min         4.000000      1.000000      0.000000
25%     39226.000000   1872.000000      2.000000
50%     78081.500000   4018.000000      2.000000
75%    116831.250000   6232.250000      3.000000
max    156060.000000   8544.000000      4.000000

Save them under folder data seperately. They will be used as %80 train and %20 test dataframe creation i.e. concetenation of (df1..df4) as train and df5 as test.

In [23]:
df1.to_csv("data/1df.csv", sep='\t')
df2.to_csv("data/2df.csv", sep='\t')
df3.to_csv("data/3df.csv", sep='\t')
df4.to_csv("data/4df.csv", sep='\t')
df5.to_csv("data/5df.csv", sep='\t')

In [24]:
print("done succesfully")

done succesfully