In [10]:
import pandas as pd
df=pd.read_csv('data/train.csv',sep="\t")
df = df.drop('Unnamed: 0', 1)
df.head()

   PhraseId  SentenceId                 Phrase  Sentiment
0     64578        3268          pokemon 4ever        4.0
1      4452         167                  famou        2.5
2     43364        2096  sugari littl halfhour        2.0
3     44497        2156              much time        2.0
4     51759        2553             float narr        3.0

In [18]:
mask=df.Phrase.str.match(r'\A[\w-]+\Z')
df=df[mask]
df.head()

    PhraseId  SentenceId        Phrase  Sentiment
1       4452         167         famou   2.500000
8      74024        3785  autobiograph   2.000000
20     25098        1148        matrix   2.000000
37     69790        3549     flashbulb   2.000000
40      3558         133          kind   2.235294

In [23]:
df.to_csv("data/words.csv", sep='\t')