PURPOSE OF CODE

Create dataset from train set that contains only phrases with single word. If no direct sentiment score of any word in test set found the word with closest to that word with sentiment score in this set will be used.

PROCESS NOTES

WILL BE DONE

DONE
- single word phrases of dataset is taken for new dataset "words.csv"

In [1]:
import pandas as pd
df=pd.read_csv('data/train-clean.csv',sep="\t")
df = df.drop('Unnamed: 0', 1)
df.head()

,Unnamed: 0.1,PhraseId,SentenceId,Phrase,Sentiment
0,0,20685,923,encourag see threedimension averag middleag wo...,3.666667
1,1,134482,7254,uncomfort time relev,3.000000
2,2,71670,3657,film drumbeat authent,2.000000
3,3,116520,6213,sit enjoy certain level forget,2.000000
4,4,106992,5649,wellmean patron mask social injustic least rep...,1.666667

In [2]:
mask=df.Phrase.str.match(r'\A[\w-]+\Z')
df=df[mask]
df.head()

    Unnamed: 0.1  PhraseId  SentenceId    Phrase  Sentiment
5              5    145547        7912      mani   2.000000
6              6    103413        5452   profund   2.500000
7              7    140286        7613   persuad   2.666667
10            10    105649        5577  approach   2.000000
11            11     51360        2529      hook   2.250000

In [3]:
df.to_csv("data/words.csv", sep='\t')

In [4]:
print("done successfully")

done successfully