In [1]:
import pandas as pd
import numpy as np
from IPython.core.debugger import Tracer
df=pd.read_csv('data/cleaneddf.csv',sep="\t")
df.head(n=20)

,Unnamed: 0,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,series escapades demonstrating adage good goos...,1
1,1,2,1,series escapades demonstrating adage good goose,2
2,2,3,1,series,2
3,3,6,1,escapades demonstrating adage good goose,2
4,4,8,1,escapades demonstrating adage good goose,2
5,5,10,1,demonstrating adage good goose,2
6,6,11,1,demonstrating adage,2
7,7,13,1,adage,2
8,8,16,1,good goose,2
9,9,18,1,good goose,2
10,10,20,1,good goose,2
11,11,22,1,good goose,3
12,12,24,1,goose,2
13,13,26,1,goose,2
14,14,28,1,also good gander occasionally amuses none amou...,2
15,15,29,1,also good gander occasionally amuses none amou...,2
16,16,30,1,also,2
17,17,32,1,good gander occasionally amuses none amounts m...,2
18,18,33,1,gander occasionally amuses none amounts much s...,2
19,19,34,1,gander occasionally amuses none amounts much s...,1

In [2]:
df.Sentiment=df.Sentiment.astype(float)
df.dtypes

Unnamed: 0      int64
PhraseId        int64
SentenceId      int64
Phrase         object
Sentiment     float64
dtype: object

https://docs.python.org/2/library/pdb.html

In [3]:
phrase=[]
sum_score=0
count_same_phrase=0
avarage_score=0
for index,row in df.iterrows():
    if len(phrase)==0:
        phrase.append(row.Phrase)
        sum_score+=row.Sentiment
        count_same_phrase+=1
    else:
        if row.Phrase==phrase[0]:
            sum_score+=row.Sentiment
            count_same_phrase+=1
        else:
            avarage_score=sum_score/count_same_phrase
            df.loc[(index-count_same_phrase),'Sentiment']=avarage_score
            while (count_same_phrase > 1):
                df.loc[(index-count_same_phrase+1),'Phrase']=np.nan
                count_same_phrase-=1
            sum_score=row.Sentiment
            count_same_phrase=1
            phrase[0]=row.Phrase

In [4]:
df.head(n=20)

,Unnamed: 0,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,series escapades demonstrating adage good goos...,1.00
1,1,2,1,series escapades demonstrating adage good goose,2.00
2,2,3,1,series,2.00
3,3,6,1,escapades demonstrating adage good goose,2.00
4,4,8,1,NaN,2.00
5,5,10,1,demonstrating adage good goose,2.00
6,6,11,1,demonstrating adage,2.00
7,7,13,1,adage,2.00
8,8,16,1,good goose,2.25
9,9,18,1,NaN,2.00
10,10,20,1,NaN,2.00
11,11,22,1,NaN,3.00
12,12,24,1,goose,2.00
13,13,26,1,NaN,2.00
14,14,28,1,also good gander occasionally amuses none amou...,2.00
15,15,29,1,NaN,2.00
16,16,30,1,also,2.00
17,17,32,1,good gander occasionally amuses none amounts m...,2.00
18,18,33,1,gander occasionally amuses none amounts much s...,1.50
19,19,34,1,NaN,1.00

In [5]:
df=df.dropna()
df.head(n=20)

,Unnamed: 0,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,series escapades demonstrating adage good goos...,1.00
1,1,2,1,series escapades demonstrating adage good goose,2.00
2,2,3,1,series,2.00
3,3,6,1,escapades demonstrating adage good goose,2.00
5,5,10,1,demonstrating adage good goose,2.00
6,6,11,1,demonstrating adage,2.00
7,7,13,1,adage,2.00
8,8,16,1,good goose,2.25
12,12,24,1,goose,2.00
14,14,28,1,also good gander occasionally amuses none amou...,2.00
16,16,30,1,also,2.00
17,17,32,1,good gander occasionally amuses none amounts m...,2.00
18,18,33,1,gander occasionally amuses none amounts much s...,1.50
20,20,35,1,gander,2.00
22,22,39,1,occasionally amuses none amounts much story,2.00
24,24,46,1,amuses none amounts much story,2.00
25,25,48,1,none amounts much story,1.00
27,27,52,1,amounts much story,2.00
30,30,56,1,much story,2.00
32,32,60,1,story,2.00

In [6]:
df = df.reset_index(drop=True)
df.head(n=20)

,Unnamed: 0,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,series escapades demonstrating adage good goos...,1.00
1,1,2,1,series escapades demonstrating adage good goose,2.00
2,2,3,1,series,2.00
3,3,6,1,escapades demonstrating adage good goose,2.00
4,5,10,1,demonstrating adage good goose,2.00
5,6,11,1,demonstrating adage,2.00
6,7,13,1,adage,2.00
7,8,16,1,good goose,2.25
8,12,24,1,goose,2.00
9,14,28,1,also good gander occasionally amuses none amou...,2.00
10,16,30,1,also,2.00
11,17,32,1,good gander occasionally amuses none amounts m...,2.00
12,18,33,1,gander occasionally amuses none amounts much s...,1.50
13,20,35,1,gander,2.00
14,22,39,1,occasionally amuses none amounts much story,2.00
15,24,46,1,amuses none amounts much story,2.00
16,25,48,1,none amounts much story,1.00
17,27,52,1,amounts much story,2.00
18,30,56,1,much story,2.00
19,32,60,1,story,2.00

In [7]:
df.to_csv("data/cleaned-mergeddf.csv", sep='\t')