PURPOSE OF CODE

Data is devided randomly into 5 equal group to use %80 of data for train and %20 for test for the purpose of further validation.

PROCESS NOTES

WILL BE DONE

DONE
- data is randomized as rows
- devided into 5 group with equal number of rows
- saved as 1df.csv, 2df.csv ..

Load is at locatin ../data/data-clean.csv

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('data/data-clean.csv',sep="\t")
df.head()

,Unnamed: 0,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,seri escapad demonstr adag good goos also good...,1
1,1,2,1,seri escapad demonstr adag good goos,2
2,2,3,1,seri,2
3,3,4,1,NaN,2
4,4,5,1,seri,2

Remove column "Unnamed: 0"

In [2]:
df = df.drop('Unnamed: 0', 1)
df[71:77]

    PhraseId  SentenceId      Phrase  Sentiment
71        72           2  introspect          3
72        73           2  introspect          2
73        74           2         NaN          2
74        75           2   entertain          4
75        76           2    independ          2
76        77           2  worth seek          3

Radomize rows in df.

In [3]:
df=df.sample(frac=1).reset_index(drop=True)
df.tail()

,PhraseId,SentenceId,Phrase,Sentiment
156055,46207,2249,similar catherin breillat fat girl,2
156056,81766,4218,hiddenagenda drama shout classic french nuanc,2
156057,35128,1651,minor shortcom,2
156058,14970,643,claim express warmth long,3
156059,91653,4768,overrun onli character robot sentiment,1

Devide df into 5 equal number of rows group as df1,df2..,df5 for further cross validation and reindex them all.

In [4]:
tmp=len(df)
a=int(tmp/5)
b=int(2*tmp/5)
c=int(3*tmp/5)
d=int(4*tmp/5)

In [5]:
df1=df[0:a]
df2=df[a:b].reset_index(drop=True)
df3=df[b:c].reset_index(drop=True)
df4=df[c:d].reset_index(drop=True)
df5=df[d:].reset_index(drop=True)

Check if distribution of partial data sets are confident.

In [2]:
pd.read_csv("data/1df.csv", sep="\t").describe()

         Unnamed: 0       PhraseId    SentenceId     Sentiment
count  31212.000000   31212.000000  31212.000000  31212.000000
mean   15605.500000   78027.859605   4079.533256      2.062476
std     9010.272637   45056.413470   2503.416430      0.888882
min        0.000000       8.000000      1.000000      0.000000
25%     7802.750000   38974.500000   1859.000000      2.000000
50%    15605.500000   77851.000000   4003.000000      2.000000
75%    23408.250000  117268.750000   6257.000000      3.000000
max    31211.000000  156056.000000   8544.000000      4.000000

In [3]:
pd.read_csv("data/2df.csv", sep="\t").describe()

         Unnamed: 0       PhraseId    SentenceId     Sentiment
count  31212.000000   31212.000000  31212.000000  31212.000000
mean   15605.500000   78045.313309   4080.173523      2.060329
std     9010.272637   44978.605809   2499.171710      0.895082
min        0.000000      10.000000      1.000000      0.000000
25%     7802.750000   38948.250000   1857.000000      2.000000
50%    15605.500000   77972.500000   4013.500000      2.000000
75%    23408.250000  116699.250000   6223.000000      3.000000
max    31211.000000  156060.000000   8544.000000      4.000000

In [4]:
pd.read_csv("data/3df.csv", sep="\t").describe()

         Unnamed: 0       PhraseId    SentenceId     Sentiment
count  31212.000000   31212.000000  31212.000000  31212.000000
mean   15605.500000   78297.415161   4094.976003      2.060233
std     9010.272637   45099.054358   2505.087901      0.890513
min        0.000000       1.000000      1.000000      0.000000
25%     7802.750000   39347.750000   1878.000000      2.000000
50%    15605.500000   78500.500000   4038.000000      2.000000
75%    23408.250000  117469.500000   6269.000000      3.000000
max    31211.000000  156051.000000   8544.000000      4.000000

In [5]:
pd.read_csv("data/4df.csv", sep="\t").describe()

         Unnamed: 0       PhraseId    SentenceId     Sentiment
count  31212.000000   31212.000000  31212.000000  31212.000000
mean   15605.500000   77846.587306   4069.375817      2.064430
std     9010.272637   45099.592250   2505.916627      0.897371
min        0.000000       4.000000      1.000000      0.000000
25%     7802.750000   38669.500000   1843.000000      2.000000
50%    15605.500000   77620.500000   3992.000000      2.000000
75%    23408.250000  117162.750000   6251.000000      3.000000
max    31211.000000  156059.000000   8544.000000      4.000000

In [6]:
pd.read_csv("data/5df.csv", sep="\t").describe()

         Unnamed: 0       PhraseId    SentenceId     Sentiment
count  31212.000000   31212.000000  31212.000000  31212.000000
mean   15605.500000   77935.324619   4074.605120      2.070422
std     9010.272637   45021.761168   2500.309596      0.897296
min        0.000000       3.000000      1.000000      0.000000
25%     7802.750000   39184.000000   1869.000000      2.000000
50%    15605.500000   78142.500000   4021.000000      2.000000
75%    23408.250000  116747.500000   6226.000000      3.000000
max    31211.000000  156058.000000   8544.000000      4.000000

Save them under folder data seperately. They will be used as %80 train and %20 test dataframe creation i.e. concetenation of (df1..df4) as train and df5 as test.

In [6]:
df1.to_csv("data/1df.csv", sep='\t')
df2.to_csv("data/2df.csv", sep='\t')
df3.to_csv("data/3df.csv", sep='\t')
df4.to_csv("data/4df.csv", sep='\t')
df5.to_csv("data/5df.csv", sep='\t')

In [7]:
print("done succesfully")

done succesfully