PURPOSE OF CODE

Data is devided randomly into 5 equal group to use %80 of data for train and %20 for test for the purpose of further cross validation.

PROCESS NOTES

WILL BE DONE

DONE
- data is randomized as rows
- devided into 5 group with equal number of rows
- saved as 1df.csv, 2df.csv ..

Load is at locatin ../data/data.csv

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('data/clean-data.csv',sep="\t")
df.head()

,Unnamed: 0,PhraseId,SentenceId,Phrase,Sentiment
0,0,1,1,seri escapad demonstr adag good goos also good...,1.0
1,1,2,1,seri escapad demonstr adag good goos,2.0
2,2,3,1,seri,2.0
3,3,6,1,escapad demonstr adag good goos,2.0
4,4,9,1,escapad,2.0

Remove column "Unnamed: 0"

In [2]:
df = df.drop('Unnamed: 0', 1)
df[71:77]

    PhraseId  SentenceId                        Phrase  Sentiment
71       128           4                   ethnographi   2.000000
72       130           4  intrigu betray deceit murder   1.666667
73       134           4                       intrigu   2.545455
74       135           4          betray deceit murder   1.500000
75       137           4                        betray   2.000000
76       138           4                 deceit murder   1.000000

Radomize rows in df.

In [3]:
df=df.sample(frac=1).reset_index(drop=True)
df.tail()

,PhraseId,SentenceId,Phrase,Sentiment
85807,144836,7863,movi mess start finish,1.0
85808,39894,1906,in stereotyp give lrb teen comedi rrb,2.0
85809,72527,3705,jacki chan movi guilti pleasur,3.0
85810,33958,1595,view civic class wouldb public servant alik,3.0
85811,22096,991,no thing,2.0

Devide df into 5 equal number of rows group as df1,df2..,df5 for further cross validation and reindex them all.

In [4]:
tmp=len(df)
a=int(tmp/5)
b=int(2*tmp/5)
c=int(3*tmp/5)
d=int(4*tmp/5)

In [5]:
df1=df[0:a]
df2=df[a:b].reset_index(drop=True)
df3=df[b:c].reset_index(drop=True)
df4=df[c:d].reset_index(drop=True)
df5=df[d:].reset_index(drop=True)

Save them under folder data seperately. They will be used as %80 train and %20 test dataframe creation i.e. concetenation of (df1..df4) as train and df5 as test.

In [6]:
df1.to_csv("data/1df.csv", sep='\t')
df2.to_csv("data/2df.csv", sep='\t')
df3.to_csv("data/3df.csv", sep='\t')
df4.to_csv("data/4df.csv", sep='\t')
df5.to_csv("data/5df.csv", sep='\t')