In [1]:
import pandas as pd
df=pd.read_csv('data/data.csv',sep="\t")
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [3]:
df.Sentiment.describe()

count    156060.000000
mean          2.063578
std           0.893832
min           0.000000
25%           2.000000
50%           2.000000
75%           3.000000
max           4.000000
Name: Sentiment, dtype: float64

In [4]:
len(df)

156060

In [6]:
import matplotlib
import matplotlib.pyplot as plt

In [7]:
scores=df.Sentiment.tolist()

In [8]:
%matplotlib inline
plt.hist()

[1, 2, 2, 2, 2, 2]